body{
	background-image: url(images/bg-11-full.jpg);
	background-attachment: fixed;
	background-size: 1375px 700px;
	max-height: 100%;
    max-width: 100%;
    margin: auto;
}

nav{
	background-color: rgba(163, 228, 215,0.95);
	font-family: arial;
	font-size: 25px;
	padding-top: 10px;
	padding-bottom: 15px;
	margin: auto; 	
	text-align: inline;
	position: fixed;
	padding-left: 10px;
	margin: 10px 10px 0px 10px;
}

.Home,.About,.Courses,.Contact,.FAQ{
	padding-right: 45px;
	text-decoration-color: blue;
	text-align: inline;
	text-decoration: none;
	color: blue;
}

a:hover{
	color: black;
}

#A{
	padding-top: 170px;
}

#name{
	font-size: 120px;
	color: black;
}

#info{
	font-size: 30px;
	color: black;
	margin-bottom: 270px;
}

hr{
   border: 2px solid black;
}

b{
	font-size: 30px;
}

.SingIn{
	margin-left: 456px;
	text-decoration-color: blue;
	text-align: inline;
	text-decoration: none;
	color: blue;
}

.SingUp{
	margin-right: 30px;
	text-decoration-color: blue;
	text-align: inline;
	text-decoration: none;
	color: blue;
}


/**********************************************************************************************************************************************
******************************************************************ABOUT************************************************************************
**********************************************************************************************************************************************/

#about{
	background-color: rgba(200, 236, 141,0.4);	
	color: black;
	padding-top:80px;
	margin-top: 60px;
	margin: auto;
}

.header1{	
	font-size: 50px;
	text-align: center;
}

hr{
	border: 2px solid black;
}

.first , .second{
	font-size: 40px;
}

.material{
	margin: 50px 100px 50px 100px;
	padding-bottom: 145px;
}


/**********************************************************************************************************************************************
******************************************************************COURSES**********************************************************************
**********************************************************************************************************************************************/


#courses{
	margin: auto;
}

.top{
	font-size: 50px;
	padding-top:80px;
	margin-top: 60px;
}

.HTML , .CSS , .JavaScript , .JavaScriptFramework , .JQuery
{
	text-align-last: center;
	height: 50px;
	width: 400px;
	margin: 20px;
	background-color: #78AB46;
	border: 1px solid;
	border-radius: 6px;
	font-size: 20px;
	margin-top: 100px;
}

a{
	color: white;
	text-decoration: none;
}

.JQuery{
	margin-bottom: 155px;
}


/**********************************************************************************************************************************************
******************************************************************CONTACT**********************************************************************
**********************************************************************************************************************************************/


#contact{
	background-color: rgba(200, 236, 141,0.4);	
	color: black;
	padding-top: 80px;
	margin-top: 50px;
	margin: auto;
}

.header2{	
	font-size: 50px;
	text-align: center;
}

hr{
	border: 2px solid black;
}

.text{
	font-size: 20px;
	padding: 25px 50px 25px 50px;
}

.form{
	padding: 10px 325px 25px 325px;
	font-size: 25px;
	font: bold;
	font-weight: 100;
	font-family: Comic Sans MS;
}

#fullname{
	height: 25px;
	width: 400px;
	margin-left: 59px;
}

#email{
	margin-left: 105px;
	height: 25px;
	width: 400px;	
}

.f3{
	display: inline;
	display: inline-flex;
}

#message{
	margin-left: 74px;
	height: 75px;
	width: 400px;	
}

.f4 button{
	height: 40px;
	width: 100px;
	font-size: 25px;
	background-color: #6FC7B5;
	margin-left: 485px;
	margin-top: 20px;
	border-style: solid;
	color: black;
}